if [ -z "$_XPROFILE" ]; then
export _XPROFILE=1

export XCURSOR_THEME=Obsidian
export OOO_FORCE_DESKTOP=gnome
export BROWSER=/opt/firefox/firefox
export EDITOR=vim
_JAVA_AWT_WM_NONREPARENTING=1; export _JAVA_AWT_WM_NONREPARENTING

fi
