*.visualBell: true

XTerm*.faceName: "DejaVu Sans Mono"
XTerm*.faceSize: 10
XTerm*.charClass: 33:48,35:48,37-38:48,43:48,45-47:48,58:48,61:48,63-64:48,95:48,126:48
XTerm*.utf8Title: true

URxvt.font: xft:DejaVu Sans Mono:pixelsize=14
URxvt.termName:rxvt
URxvt.scrollstyle: plain
URxvt.saveLines: 5000
URxvt.scrollBar_right: true
URxvt.scrollTtyKeypress: true
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: false
URxvt.skipScroll: false
URxvt.jumpScroll: true

!! for "urxvtc -name weechat -e weechat-curses"
weechat.scrollBar_right: false
weechat.scrollBar: false
weechat.perl-ext-common: default,matcher
weechat.urlLauncher: /opt/firefox/firefox
weechat.matcher.button: 1
weechat.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
weechat.iconFile: /usr/share/icons/hicolor/16x16/apps/konversation.png
weechat.urgentOnBell: true

!! for "urxvtc -name slrn -e slrn"
slrn.scrollBar_right: false
slrn.scrollBar: false
slrn.perl-ext-common: default,matcher
slrn.urlLauncher: /opt/firefox/firefox
slrn.matcher.button: 1
slrn.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
slrn.iconFile: /usr/share/icons/hicolor/16x16/apps/knode.png
